/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.testimonial same-height-always{
    max-height: 0px;
}

.testimonial same-height-always .text{
    min-height: 0px;
    max-height: 0px;
}

.testimonial same-height-always .bottom{
    min-height: 0px;
    max-height: 0px;
}

.name-picture{
    min-width: 316px;
    max-width: 316px;
}