/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.student.same-height-always{
    max-height: 0px;
}

.student.same-height-always .text{
    max-height: 0px;
}

.student.same-height-always .bottom{
    max-height: 0px;
}
.testimonial.same-height-always{
    max-height: 0px;
}

.testimonial same-height-always .text{
    max-height: 0px;
}

.testimonial same-height-always .bottom{
    max-height: 0px;
}

.testimonials .item .testimonial .name-picture h5 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
/* 
.testimonials .item .testimonial .name-picture img{

} */

.testimonials .item .testimonial .bottom .icon {
    display: none;
}