/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

<<<<<<< HEAD
.student.same-height-always{
    max-height: 0px;
}

.student.same-height-always .text{
    max-height: 0px;
}

.student.same-height-always .bottom{
=======
.testimonial.same-height-always{
    max-height: 0px;
}

.testimonial.same-height-always .text{
    max-height: 0px;
}

.testimonial.same-height-always .bottom{
>>>>>>> 68d6be9b2df6a8b7ecfb89fda377374b11e406d2
    max-height: 0px;
}